* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helsinki', sans-serif;
}

body {
  background: #222;
}

.card {
  width: 90%;
  max-width: 470px;
  background: radial-gradient(
    circle,
    rgba(164, 183, 180, 1) 0%,
    rgba(237, 233, 223, 1) 99%
  );
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.search-input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  font-size: 18px;
  transition: 0.5s;
}

.error {
  -webkit-animation: shake 0.2s ease-in-out 0s 2;
  animation: shake 0.2s ease-in-out 0s 2;
  border: solid 2px red;
}

@-webkit-keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 30px;
}

.weather-icon {
  width: 250px;
  margin-top: 30px;
  max-height: 280px;
}

.future {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.col {
  width: 200px;
  /* height: 250px; */
  /* border: solid 2px #a4b7b4;
  border-radius: 20px; */
}

.day2-weather-icon,
.day3-weather-icon {
  height: 100px;
  width: 200px;
}
